input{
  width 80%
  border: 1px solid $red
  border-radius: $radius
  display: block
  padding:$padding
  margin:$margin auto
  outline: none
}
button{
  outline: none
  width 85%
  background-color $red
  border-radius: $radius
  border-color transparent
  display: block
  padding $padding
  margin $margin auto
  color $fff
}